body {
	background: #777;
	width: 960px;
	margin: auto;
	margin-top: 10px;
	font-size: 18px;
	font-family: 'Arial','Helvetica Neue', Helvetica,sans-serif;
}

p {
	text-align: center;
}

.size1 {
	padding: 10px;
}

.size2 {
	height: 285px;
}

.header {
	background: #ebebeb;
	color: #777;
	text-align: center;
	margin-bottom: 10px;
}

.nav {
	background: #ebebeb;
	color: #777;
	margin-bottom: 20px
}

.section {
	background: #ebebeb;
	color: #777;
	width: 495px;
	float: left;
	clear: both;
	margin-bottom: 20px;
	padding: 10px;

}

.article {
	background: #777;
	color: #ebebeb;
	margin: 10px;
	height: 195px;
	padding: 10px;
}

.headers {
	background: #ebebeb;
	color: #777;
	padding: 2px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.para {
	background: #ebebeb;
	color: #777;
	padding: 2px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.aside {
	background: #ebebeb;
	color: #777;
    float: left;
    width: 405px;
    margin-left: 20px;
    padding: 10px;
}

.footer {
	background: #ebebeb;
	color: #777;
	clear: both;
}

